@font-face {
  font-family: 'Verdana';
  src: url('../../assets/fonts/Verdana.woff2') format('woff2'),
       url('../../assets/fonts/Verdana.woff') format('woff'),
       url('../../assets/fonts/Verdana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../../assets/fonts/stolzl-medium.woff2') format('woff2'),
       url('../../assets/fonts/stolzl-medium.woff') format('woff'),
       url('../../assets/fonts/stolzl-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl2';
  src: url('../../assets/fonts/stolzl-book.woff2') format('woff2'),
       url('../../assets/fonts/stolzl-book.woff') format('woff'),
       url('../../assets/fonts/stolzl-book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}