$font-family: "Verdana", sans-serif;
$second-family: "Stolzl", sans-serif;
$second-family2: "Stolzl2", sans-serif;
$color-bg: #F3F8FC;
$color-bg-card: #fff;
$color-text: #000;
$color-chart-green: #00A75C;
$color-chart-yellow: #E9841D;
$color-chart-red: #EC133D;
$color-chart-grey: #B6D4ED;
$color-shadow: #e7f1f9;










// --font-family: "Verdana", sans-serif;
// --second-family: "Stolzl", sans-serif;